.wrapper .sidebar {
    position: fixed;
    top: 70px;
    left: 10px;
    background: linear-gradient(0deg, #1E3E01, #1E3E01), linear-gradient(0deg, #1E3E01, #1E3E01),
    linear-gradient(0deg, #1E3E01, #1E3E01), #1E3E01;
    width: 200px;
    height: calc(100% - 80px);
    border-bottom-left-radius: 20px;
    transition: all 0.3s ease;
    z-index: 1000;
}

.wrapper .sidebar ul li a {
    font-weight: bold;
    display: block;
    padding: 20px;
    position: relative;
    margin-bottom: 1px;
    color: #FFFFFF;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #FFFFFF;
    display: none;
}

.wrapper .sidebar ul li a span.icon {
    margin-right: 10px;
    display: inline-block;
}

.wrapper .sidebar ul li a span.title {
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    background: #135C12;
    color: #FFFFFF;
    font-weight: bold;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.wrapper.collapse .sidebar {
    width: 70px;
}

.wrapper.collapse .sidebar ul li a {
    text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
    margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
    display: none;
}

ul {
    padding-left: 0;
}